[Unit]
Description=Apply firewall rules
After=network.target

[Service]
Type=oneshot
#EnvironmentFile=/etc/default/firewall
ExecStart=/root/bin/firewall.www.front.web005.sh
RemainAfterExit=true
ExecStop=/root/bin/firewall.flush.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
